<% provide(:title, 'Наши акции') %>

<div class="row-fluid">
  <div class="span12">
     <h3 class="column_headers" style="margin-bottom:85px"><%= @share.name %></h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <table cellpadding = "5" width="80%">
      <tr>
        <td>
            <%= image_tag @share.image.thumb('600x450').url, alt: 'Loading...' %>
        </td>
        <td valign="top" class="share_times_font">
          <p style="font-weight:bold; color:green; font-style:normal">Сроки проведения акции:</p>
          <%= @share.start_time%><br>
          <%= @share.end_time%>
        </td>
      </tr>
      <tr>
        <td width="50%">
            <%= @share.body %>
        </td>
      </tr>
    </table>
    <div class="back_buttons">
        <%= link_to "На Главную", root_url, class: "btn btn-success"%>
    </div>
  </div>
</div>
