<% provide(:title, 'Наши партнеры') %>

<div class="row-fluid">
  <div class="span12">
    <h3 class="column_headers" style="margin-bottom:90px"><%= @partner.name %></h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span7">
    <table cellpadding = "5">
      <tr>
        <td valign="top" rowspan="2">
            <%= image_tag @partner.image.thumb('260x130!').url, alt: 'Loading...' %>
        </td>
        <td>
            <b>Сайт:</b>
            <p><b><%= link_to @partner.reference, @partner.reference %></b></p>
        </td>
       </tr>
      <tr>
        <td>
            <%= @partner.body %>
        </td>
      </tr>
    </table>
    <div class="back_buttons">
        <%= link_to "На Главную", root_url, class: "btn btn-success"%>
    </div>
  </div>
</div>

