<% provide(:title, 'Наши вакансии') %>

<div style="float:right; width:800px; margin-top:150px">
  <img src='assets/telephone_employment.png'>
</div>
<div style="width:850px">
  <table>
   <tr>
     <td>
        <h1 style="color:green; margin-bottom:30px">Наши вакансии</h1>
        <h2 style="color:green; margin-bottom:30px">Требования и условия:</h2>
     </td>
   </tr>
    <tr>
      <td>
        <table class="table table-striped table-hover custom_table" cellpadding = "5">
            <% @vacancies.each do |v| %>
              <tr>
                <td>
                <h2 style="color:#08C"><%= v.name %></h2>
                </td>
              </tr>
              <tr>
                <td>
                  <b style="color:#08C">Образование:</b>
                  <%= v.education %>
                </td>
              </tr>
              <tr>
                <td>
                  <b style="color:#08C">Опыт работы:</b>
                  <%= v.experience %>
                </td>
              </tr>
              <tr>
                <td>
                  <b style="color:#08C">Занятость:</b>
                  <%= v.employment %>
                </td>
              </tr>
              <tr>
                <td>
                  <b style="color:#08C">График работы:</b>
                  <%= v.time_schedule %>
                </td>
              </tr>
              <tr>
                <td>
                  <b style="color:#08C">Заработная плата:</b>
                  <%= v.salary %>
                </td>
              </tr>
            <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <div class="back_buttons">
            <%= link_to "На Главную", root_url, class: "btn btn-success"%>
        </div>
      </td>
    </tr>
  </table>
</div>
