<ul class="nav nav-tabs nav-stacked" id="gen_menu_text">
  <li><%= link_to "Наши аптеки", store_map_path%></li>
  <li><%= link_to "Прайс-лист", stores_path%></li>
  <li><%= link_to "Наши партнеры", partners_path%></li>
  <li><%= link_to "Наши акции", shares_path%></li>
  <li><%= link_to "Наши вакансии", vacancies_path%></li>
</ul>