<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Меню</li>
        <li class="gen_menu_text"><%= link_to "Наши аптеки", store_map_path%></li>
        <li class="gen_menu_text"><%= link_to "Прайс-лист", stores_path%></li>
        <li class="gen_menu_text"><%= link_to "Наши партнеры", partners_path%></li>
        <li class="gen_menu_text"><%= link_to "Наши акции", shares_path%></li>
        <li class="gen_menu_text"><%= link_to "Наши вакансии", vacancies_path%></li>
    </ul>
</div>