<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
  <%= render 'layouts/shim' %>
</head>

<body>

<div id="wrap">

      <div class="container-fluid">
        <div class="row-fluid">
           <div class="span2">
             <%= render 'layouts/logotype' %>
             <div style="margin-bottom:20px"></div>
             <%= render 'layouts/menu' %>
           </div>
           <div class="span10">
             <%= yield %>
           </div>
        </div>
      </div>
      <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <p class="muted credit" style="color:green">Clover Pharm &copy; 2014</p>
  </div>
</div>

</body>
</html>
